body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.nav {
  padding-left: 1% !important;
}

.nav1 {
  position: sticky;
  top: 0;
  z-index: 3 !important;
}

.links a:hover {
  /* color:rgb(211, 170, 49) !important; */
  border-bottom: 2px solid rgb(211, 170, 49) !important;


}

/* class active */
.links li .thisPage {
  color: rgb(211, 170, 49) !important;
  border-bottom: 2px solid rgb(211, 170, 49) !important;
}

.footer {
  background-color: rgb(36, 43, 59);

}

.footer .conect {
  display: flex;
  justify-content: space-between;

}

.footer .conect2 {
  display: flex;
}

.conect img {
  width: 30px;
  display: block;
  margin: 10px;
}

#conect {
  color: #ddd;
  padding-top: 20px;
  padding-left: 10px;
  /* text-align: center; */

}

.btn1 {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0;
}

.dropdown a {
  padding-top: 7.5px !important;
}


.ContactInformation:hover {
  opacity: 0.4;
}

@media(max-width:600px) {
  .footer #conect {
    display: none;
  }

  .footer .conect2 {
    margin-right: auto;
    margin-left: auto;
  }

}