
body {   
    background-image: url("../pic/try.jpg") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
 }
 h2{
  color:rgb(240, 200, 80) !important;
  /* font-weight: bolder; */
  text-shadow: 5px 5px 10px #0b0b0b;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}
  .button{
  background-color:rgb(211, 170, 49) !important;
  border-color: rgb(221, 170, 49) !important;
  margin-bottom: 4% !important;
  }
  .button:hover{
    background-color:rgb(240, 200, 80) !important;
  }

  .container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    margin: 0px auto !important;
  }
  .col-md-7 col-lg-5{
    padding-right: 0.2% !important;
    
  }

  .form-check-input:checked {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    background-color: rgb(240, 200, 80) !important;
    border-color:rgb(187, 156, 62) !important;
  /* margin-bottom: 20px; */
  }
  .py-5 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    padding-top: 0rem !important;
    padding-bottom: 1rem !important;
}
.input{
  /* background-color: rgba(140, 212, 243, 0.265); */
  background-color: rgba(209, 225, 231, 0.265);

}

@media(max-width:1000px){
  .py-5{
    text-align: center !important;
  }
}
@media(max-width:700px){
 
}

   